<footer class="footer">
    <small>
        <a href="http://www.echo-laboratories.com/">EchoLabs</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",    '#' %></li>
            <li><%= link_to "Contact",  '#' %></li>
            <li><a href="http://www.echo-laboratories.com/">News</a></li>
        </ul>
    </nav>
</footer>